:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.19 0.01 248.51);
  --card: oklch(0.98 0 197.14);
  --card-foreground: oklch(0.19 0.01 248.51);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.19 0.01 248.51);
  --primary: oklch(0.67 0.16 245);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.19 0.01 248.51);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.92 0 286.37);
  --muted-foreground: oklch(0.19 0.01 248.51);
  --accent: oklch(0.94 0.02 250.85);
  --accent-foreground: oklch(0.67 0.16 245);
  --destructive: oklch(0.62 0.24 25.77);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.93 0.01 231.66);
  --input: oklch(0.98 0 228.78);
  --ring: oklch(0.68 0.16 243.35);
  --chart-1: oklch(0.67 0.16 245);
  --chart-2: oklch(0.69 0.16 160.35);
  --chart-3: oklch(0.82 0.16 82.53);
  --chart-4: oklch(0.71 0.18 151.71);
  --chart-5: oklch(0.59 0.22 10.58);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.93 0 228.79);
  --card: oklch(0.21 0.01 274.53);
  --card-foreground: oklch(0.89 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.93 0 228.79);
  --primary: oklch(0.67 0.16 245.01);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.96 0 219.53);
  --secondary-foreground: oklch(0.19 0.01 248.51);
  --muted: oklch(0.21 0 0);
  --muted-foreground: oklch(0.56 0.01 247.97);
  --accent: oklch(0.19 0.03 242.55);
  --accent-foreground: oklch(0.67 0.16 245.01);
  --destructive: oklch(0.62 0.24 25.77);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.27 0 248);
  --input: oklch(0.3 0.03 244.82);
  --ring: oklch(0.68 0.16 243.35);
  --chart-1: oklch(0.67 0.16 245);
  --chart-2: oklch(0.69 0.16 160.35);
  --chart-3: oklch(0.82 0.16 82.53);
  --chart-4: oklch(0.71 0.18 151.71);
  --chart-5: oklch(0.59 0.22 10.58);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
}